/* Kamban ======== */

.kamban{
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.cardKamban{
    padding: 10px;
    width: 180px;
    height: 100px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
}

.cardKamban h3 {
    font-size: 24px;
}

#cardTotalLeads{
    background-color: rgb(238, 235, 230);
}

#cardFollow{
    background-color: rgb(255, 187, 0);

}

#cardNegociacao{
    background-color: yellow;
}

#cardFechamento{
    background-color: rgb(59, 243, 22);
}

#cardFechado{
    background-color: rgb(45, 155, 23);
}

/* Card-Header ================*/

.card-header{
    width: 90%;
    margin-left: 5%;
    display:flex;
    height: 50px;
    margin-bottom: 5px;
    align-items: center;
    border-radius: 5px;

}

.codigoCliente{
    width: 50px;
    text-align: center;

}

.codigoCliente{
    margin: 2px;
    width: 60px;
    text-align: center;
}

.card-header .name{
    width: 300px;
    text-align:justify;
    text-align: center;
}

.card-header .numberConvidados{
    width: 150px;
    text-align: center;
}

.card-header .dateFesta{
    width: 150px;
    text-align: center;
}

.card-header .status{
    width: 150px;
    text-align: center;
}

.card-header .nextContato{
    width: 150px;
    text-align: center;
}

/* Card ============ */

.card{
    width: 90%;
    max-width: 100%;
    margin-left: 5%;
    display:flex;
    height: 40px;
    margin-bottom: 5px;
    background-color: rgb(233, 232, 232);
    align-items: center;
    border-radius: 5px;
    border: rgb(182, 169, 169) 0.5px solid;
}


.card .cardName{
    width: 300px;
    margin-left: 10px;
}

.card .cardNumberConvidados{
    width: 150px;
    text-align: center;
}

.card .cardDateFesta{
    width: 150px;
    text-align: center;
}

.card-status{
    width: 150px;
    text-align: center;
    border-radius: 20px;
}

.card-status.fechamento{
    background-color: rgb(59, 243, 22);
}

.card-status.negociacao{
    background-color: rgb(244, 248, 10);
}

.card-status.follow{
    background-color: rgb(255, 187, 0);
}

.card-status.fechado{
    background-color: rgb(45, 155, 23);
}

.cardNextContato {
    width: 150px;
    text-align: center;

}

.card .card-Button{
    width: 80px;
    margin-left: 20px;
    justify-content: right;
    display: flex;
    justify-content:space-around
}


/* Cards ======== */



