/* Modal ======== */

.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    background: #f0f2f5;
    padding: 1.2rem;
    width: 700px ;
    height: 750px;
    border-radius: 20px;
}

.modal h2{
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário Modal ======== */

input{
    border: none;
    margin: 5px;
}

.input-group{
    display: flex;
    align-items: center;
    padding: .3rem;
}

#nameClient{
    width: 100%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#typeEvent{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#numberGuests{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#dateEvent{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#phoneClient{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#eventLocation{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#emailClient{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#dateFirstContact{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#dateLastContact{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
} 

#sendBy{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#channelThatCame{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#comoNosConheceu{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#status{
    width: 49%;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 10px;
}

#observacao{
    width: 100%;
    height: 150px;
    padding: 6px;
    font-size: 1.4rem;
    margin-bottom: 10px;
    border-radius: 10px;
    resize: none;
}

.input-group.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button{
    width: 40%;
}


